<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <div>
        <% if (locals.user) {%>
            <h1>WELCOME BACK <%= user.username %>
            </h1>
            <a href="/log-out">LOG OUT</a>
            <% } else { %>
                <h1>Please log in</h1>
                <form action="/log-in" method="POST">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="username" type="text" />
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" />
                    <button type="submit">Log In</button>
                </form>
                <%}%>
    </div>
    <div>
        <h1>Users</h1>
        <% if(users) {%>
            <% users.forEach((user)=> { %>
                <ul>
                    <li>ID: <%= user.id%>
                    </li>
                    <li>Username: <%= user.username%>
                    </li>
                    <li>Password: <%= user.password%>
                    </li>
                </ul>
                <%})}%>
    </div>
    <div>
        <br>
        <a href="/sign-up">Create new user</a>
        </br>
    </div>
</body>

</html>